{% extends "layout.html" %}
 {% block body %}
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo"><img src="../static/assets/img/icon.png" alt="logo" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="/OMS" class="get-started-btn scrollto">One Model System</a>
      <a href="/MMS" class="get-started-btn scrollto">Multi Model System</a>
       <a href="/MOB" class="get-started-btn scrollto">Mobile Application</a>
<div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </header><!-- End Header -->

 <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>National Foot   System</h1>
          <h2> Foot Trace Recognition System</h2>
          <ul>
             <li><i class="ri-check-line"></i> Demo of tow  systems(One/Multi Model System)</li>
            <li><i class="ri-check-line"></i> Deep learning based system</li>
            <li><i class="ri-check-line"></i> Foot trace Image recognition AI system</li>
          </ul>
          <div class="mt-3">
            <a href="#about" class="btn-get-started scrollto">One Model System</a>
            <a href="" class="btn-get-quote">Multi Model System</a>
          </div>
          <div class="mt-3">
             <p><strong> Click Here! </strong>to download Foot Trace android mobile application </p>
            </br>
            <a href="#about" class="btn-get-started scrollto">Download Mobile application</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="../static/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <!-- ======= Footer ======= -->


</body>
  {% endblock %}
